# Python:
*.py[cod]
*.so
*.egg
*.egg-info
.idea
.xml
dist
build
vscode.code-workspace
editworkplace.sublime-workspace

Setting/editworkplace.sublime-workspace
.idea/workspace.xml
.gitignore
